---
---

body {
  font-family: "PT Mono";
}
#defaultCountdown {
  font-family: "DotGothic16", sans-serif;
  text-transform:uppercase;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hasCountdown {
	background:none;
	border:none;
}

h1 {
	text-transform:uppercase;
}
h2 {
  text-transform:uppercase;
}

.fancy-h2 {
  text-transform:none;
}
.fancy-h3 {
  text-transform:none;
  font: 4em sans-serif;
}

@media(min-width:768px){
  .fancy-h1 {
    font-size:4em;
  }
  h2 {
    font-size:3em;
  }
  .fancy-h2 {
    font-size:0.8em;
  }
  .fancy-h3 {
    font-size: 5em;
  }
}

@media(min-width:992px){
  .fancy-h1 {
    font-size:4.5em;
  }
  h2 {
    font-size:3.5em;
  }
  .fancy-h2 {
    font-size:0.8em;
  }
  .fancy-h3 {
    font-size: 5em;
  }
}

@media(min-width:1200px){
  .fancy-h1 {
    font-size:4.5em;
  }
  h2 {
    font-size:3.5em;
  }
  .fancy-h2 {
    font-size:0.8em;
  }
  .fancy-h3 {
    font-size: 5em;
  }
}
.background-highlight {
  background-color: "#e8e8e8";
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5em;
}

.navbar-chulapa-fab {
  height: 0 px;
}

.fancy-h1 {
  text-transform:uppercase;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.fancy-h2 {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.fancy-h3 {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}
